:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --text-color: #fafafa;
	--background-color: #1aa4e4;
	--cor1: rgb(34, 0, 128);
	--cor1B: rgb(46, 79, 242);
	--cor2: rgb(95, 183, 81);
	--cor3: rgb(144, 164, 207);
	--cor4: #ffffff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background: var(--background-color);
}

input,
button,
label {
	font-size: 1em;
}