.mainContent{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 150px auto;
  height: 100vh;
  gap: 5em;
}

.links {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80px;
  background-color: var(--cor4);
  gap: 10em;
  text-decoration: none;
}

.links label {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--cor3);
  transition: 0.5s;
}

.links label:hover {
  transition: 0.5s;
  background-color: var(--background-color);
}

.links label a {
  text-decoration: none;
  font-weight: bold;
  color: var(--cor1B);
}

.BoxTexts {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10em;
}

.titles {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Texts {
  flex-direction: column;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}