.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  gap: 1em;
}

.Sair {
  position: absolute;
  top: 40px;
  left: 70px;
  background-color: rgb(231, 10, 10) !important;
  padding: 10px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.main button {
  background-color: rgb(22, 209, 5);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: black;
}

.main button a {
  text-decoration: none;
  color: black;
}

.box {
  padding: 20px;
  margin: 15px;
  border-radius: 5px;
  display: flex;
  gap: 3em;
  align-items: center;
  background-color: rgb(227, 226, 252);
}

.box button {
  background-color: white;
  padding: 10px 20px 10px 20px;
}

.boxText {
  margin: 5px;
}

.boxText ul {
  font-size: 12px;
  padding-left: 20px;
}

.boxSearch {
  background-color: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.boxSearch label {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 60px;
  align-items: center;
  display: flex;
}

.boxSearch input {
  padding: 7px;
  border-radius: 50px;
}

.boxSearch button {
  border: none;
  background: none;
  padding: 0px;
}